@import "./tokens.css";

.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.content {

  display: block;
  border: 1px solid red;
}

.control {

  background-color: var(--color-white);
  min-width: 220px;
  transform-origin: 0 0;
  z-index: 99999;
}