
.base-button {

  display: inline-flex;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  padding: 10px 16px;
  min-width: 120px;
  font-family: inherit;
  transition:
          background var(--transition-duration),
          border var(--transition-duration),
          color var(--transition-duration);
  cursor: pointer;
}

.button {

  @extend .base-button;

  border: 1px solid var(--button-primary-mode-background-default);
  background: var(--button-primary-mode-background-default);
  color: var(--button-primary-mode-color-default);

  &:hover {
    background: var(--button-primary-mode-background-default-hover);
    border-color: var(--button-primary-mode-background-default-hover);
  }

  &:active {
    background: var(--button-primary-mode-background-default-active);
    border-color: var(--button-primary-mode-background-default-active);
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:active {
    color: var(--button-primary-disabled-color);
    background: var(--button-primary-disabled-background);
    border-color: var(--button-primary-disabled-background);
  }
}

.container {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: center;
  padding: 0 10px;
}

.text {

  display: block;
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  overflow: auto;
  text-overflow: ellipsis;
}

.size {
  &--small {
    padding: 8px;

    .text {
      font-size: 12px;
    }
  }

  &--large {
    padding: 14px;

    .text {
      font-size: 16px;
    }
  }
}

.mode {
  &--success {
    background: var(--button-primary-mode-background-success);
    border-color: var(--button-primary-mode-background-success);

    &:hover {
      background: var(--button-primary-mode-background-success-hover);
      border-color: var(--button-primary-mode-background-success-hover);
    }

    &:active {
      background: var(--button-primary-mode-background-success-active);
      border-color: var(--button-primary-mode-background-success-active);
    }
  }

  &--danger {
    background: var(--button-primary-mode-background-danger);
    border-color: var(--button-primary-mode-background-danger);

    &:hover {
      background: var(--button-primary-mode-background-danger-hover);
      border-color: var(--button-primary-mode-background-danger-hover);
    }

    &:active {
      background: var(--button-primary-mode-background-danger-active);
      border-color: var(--button-primary-mode-background-danger-active);
    }
  }
}

.secondary {

  background: transparent;
  color: var(--button-primary-mode-background-default);

  &:hover {
    background: transparent;
    color: var(--button-primary-mode-background-default-hover);
    border-color: var(--button-primary-mode-background-default-hover);
  }

  &:active {
    color: var(--button-primary-mode-background-default-active);
    border-color: var(--button-primary-mode-background-default-active);
  }
}

.secondary.mode {
  &--success {
    background: transparent;
    color: var(--button-primary-mode-background-success);
    border-color: var(--button-primary-mode-background-success);

    &:hover {
      color: var(--button-primary-mode-background-success-hover);
      border-color: var(--button-primary-mode-background-success-hover);
    }

    &:active {
      color: var(--button-primary-mode-background-success-active);
      border-color: var(--button-primary-mode-background-success-active);
    }
  }

  &--danger {
    background: transparent;
    color: var(--button-primary-mode-background-danger);
    border-color: var(--button-primary-mode-background-danger);

    &:hover {
      color: var(--button-primary-mode-background-danger-hover);
      border-color: var(--button-primary-mode-background-danger-hover);
    }

    &:active {
      color: var(--button-primary-mode-background-danger-active);
      border-color: var(--button-primary-mode-background-danger-active);
    }
  }
}

.secondary {
  &:disabled,
  &:disabled:hover,
  &:disabled:active {
    color: var(--button-primary-disabled-background);
    border-color: var(--button-primary-disabled-background);
  }
}
