
.heading {

  display: block;
  line-height: 1.6;
  font-family: inherit;
  font-weight: var(--font-weight-regular);
  color: var(--paragraph-color);
}

h1.heading {
  font-size: 28px;
}

h2.heading {
  font-size: 24px;
}

h3.heading {
  font-size: 20px;
}

h4.heading {
  font-size: 16px;
}

h5.heading {
  font-size: 14px;
}

h6.heading {
  font-size: 13px;
}