
.link {

  display: inline-block;
  color: var(--color-primary);
  text-decoration: underline;
  line-height: 1.6;
  font-size: 14px;
  font-family: inherit;
  font-weight: var(--font-weight-regular);
  transition: color var(--transition-duration);

  &:hover {
    color: var(--color-primary-light);
  }
}
